@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .main-nav {
    display: flex;
  }
  .list.nav {
    display: flex;
    margin-left: 76px;
  }
  .list.nav > .item:not(:last-child) {
    margin-right: 40px;
  }
  .list.nav > .item {
    position: relative;
  }
  .current::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
    left: 0px;
    top: 45px;
  }
  .addres {
    display: block;
    margin-left: auto;
    font-style: normal;
  }
  .addres > a:not(:last-child) {
    margin-right: 40px;
  }
  .btn-burger-menu {
    display: none;
  }
}
