:root {
  --primary-text-color: rgb(67, 68, 85);
  --primary-blue-color: rgb(77, 90, 229);
  --primary-white-color: rgb(255, 255, 255);
  --navy-blue: rgb(46, 47, 66);
  --cloud: rgb(244, 244, 253);
  --cornflower: rgb(231, 233, 252);
  --grey: rgba(46, 47, 66, 0.7);
  --ocean: rgb(64, 75, 191);
  --light-slate: rgb(142, 143, 153);
  --navy-blue-modal: rgba(46, 47, 66, 0.4);

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--font-family);
  color: var(--primary-text-color);
}
ul,
li,
h1,
h2,
h3,
h4,
p,
a,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}
.container.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-section {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.main-nav {
  display: flex;
}
.list.nav {
  display: flex;
  margin-left: 76px;
}
.list.nav > .item:not(:last-child) {
  margin-right: 40px;
}
.list.nav > .item {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
  left: 0px;
  top: 45px;
}
.addres {
  margin-left: auto;
  font-style: normal;
}
.addres > a:not(:last-child) {
  margin-right: 40px;
}
.hero-section {
  height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url(./images/people-office.jpg);
  background-color: var(--grey);

  text-align: center;
  padding-top: 188px;
  padding-bottom: 292px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container.rules > .list {
  display: flex;
  flex-wrap: wrap;
}
.item-rules {
  width: calc((100% - 72px) / 4);
  margin-right: 24px;
}
.item-rules:last-child {
  margin-right: 0;
}
.foto-rules {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cloud);
  height: 112px;
}
.svg-rules {
  width: 64px;
  height: 64px;
}
.section.about {
  padding-top: 0px;
}
.list.about {
  display: flex;
}
.item-about:not(:last-child) {
  margin-right: 24px;
}
.list.team {
  display: flex;
}
.item-team {
  background-color: var(--primary-white-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.item-team:not(:last-child) {
  margin-right: 24px;
}
.team-info {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 8px;
}
.team-section {
  background: var(--cloud);
}
.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
}
.social-icon > .list {
  display: flex;
}
.social-icon > .list > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-blue-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 24px;
  transition: background-color 250ms var(--timing-function);
}
.social-icon > .list > .item:last-child {
  margin-right: 0px;
}
.social-icon .list .item a svg {
  display: block;
}
.social-icon .list .item:hover,
.social-icon .list .item:focus {
  background-color: var(--ocean);
}
.social-link {
  fill: var(--primary-white-color);
}
.list.customers {
  display: flex;
}

.link-customers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  fill: var(--light-slate);
  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.link-customers:hover {
  fill: var(--primary-blue-color);
  border-color: var(--primary-blue-color);
}
.item-customers:not(:last-child) {
  margin-right: 24px;
}
.footer-section {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.logo.footer {
  color: var(--cloud);
}
.logo-span {
  color: var(--primary-blue-color);
}
.list {
  list-style: none;
  text-decoration: none;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
.navigation:hover,
.navigation:focus {
  color: var(--primary-blue-color);
}

.contact {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
.contact:hover,
.contact:focus {
  color: var(--primary-blue-color);
}
.hero.title {
  font-size: 48px;
  color: var(--primary-white-color);
  margin-bottom: 0px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  /* margin-top: 32px; */
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container.footer {
  display: flex;
}
.text-social-media {
  color: var(--cornflower);
  margin-bottom: 16px;
}
.social-media {
  margin-left: 120px;
}
.list > .item.footer {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.list > .item.footer:hover,
.list > .item.footer:focus {
  background-color: rgb(49, 208, 170);
}

.text.footer {
  color: var(--cornflower);
  margin-top: 16px;
}
.btn {
  margin-top: 48px;
  border-radius: 4px;
  padding: 16px 32px;

  background: var(--primary-blue-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);

  border-color: transparent;
  transition: background-color 250ms var(--timing-function);
}
.btn:hover {
  background-color: #404bbf;
}
/* Css for Portfolio */
.btn.portfolio {
  margin-top: 0px;

  background-color: var(--cloud);
  color: var(--primary-blue-color);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function);
}
.btn.portfolio:hover,
.btn.portfolio:focus {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list.button {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.item-btn:not(:last-child) {
  margin-right: 24px;
}
.list.example {
  display: flex;
  flex-wrap: wrap;
}
.item-example {
  margin-right: 24px;
  margin-bottom: 48px;
  box-shadow: none;
  transition: box-shadow 250ms var(--timing-function);
}
.item-example:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.item-example:nth-child(3n) {
  margin-right: 0px;
}
.item-example:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.text-example {
  background-color: var(--primary-white-color);
  border: 1px solid var(--cornflower);
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-top: 0;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-block {
  position: absolute;
  font-family: var(--font-family);
  padding-top: 40px;
  padding-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding-right: 32px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.item-example:hover .overlay-block {
  transform: translateY(0);
}
/* CSS backdrop and modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--primary-white-color);
  border-radius: 4px;
  width: 408px;
  height: 576px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);
  transition: transform 250ms var(--timing-function);
}
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-top: 24px;
  margin-right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.btn-close:hover {
  background-color: var(--ocean);
  fill: var(--primary-white-color);
}

.contact-div {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  background-color: teal;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction:alternate-reverse;
}

@keyframes example {
  0% {
    background-color: teal;
    left: 0px;
  }
  25% {
    left: 50px;
  }
  50% {
    left: 100px;
  }
  75% {
    left: 150px;
  }
  100% {
    border-radius: 50%;
    background-color: tomato;
    left: 200px;
  }
}
