:root {
  --primary-text-color: rgb(67, 68, 85);
  --primary-blue-color: rgb(77, 90, 229);
  --primary-white-color: rgb(255, 255, 255);
  --navy-blue: rgb(46, 47, 66);
  --cloud: rgb(244, 244, 253);
  --cornflower: rgb(231, 233, 252);

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body {
  font-family: var(--font-family);
  color: var(--primary-text-color);
}
.container {
  width: 1158px;
  margin: 0 auto;
}
.hero-section {
  background: var(--navy-blue);
}
.team-section {
  background: var(--cloud);
}
.footer-section {
  background-color: var(--navy-blue);
}
.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.logo.footer {
  color: var(--cloud);
}
.logo-span {
  color: var(--primary-blue-color);
}
.list {
  list-style: none;
  text-decoration: none;
}
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.hero.title {
  font-size: 48px;
  color: var(--primary-white-color);
  text-align: center;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text.footer {
  color: var(--cornflower);
}
.btn {
  background: var(--primary-blue-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}
.btn.portfolio {
  background: var(--cloud);
  color: var(--primary-blue-color);
}
